[mysqld]
user=mysql
character-set-server=utf8
default_authentication_plugin=mysql_native_password
secure_file_priv=/var/lib/mysql
expire_logs_days=7
sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION
max_connections=1000
performance_schema_max_table_instances=400 #设置效果不明显
table_definition_cache=400
performance_schema=off #效果明显
table_open_cache=64
innodb_buffer_pool_chunk_size=64M #效果不明显
innodb_buffer_pool_size=64M #效果不明显

[client]
default-character-set=utf8

[mysql]
default-character-set=utf8
